# general
node_modules/
build/

# osx
.DS_Store

# arcanist
.phutil_module_cache

# config
config/local*

# vscode
.vscode

# ethereum network configs
networks/development.json

# contract build files
client/src/contracts
