# general
node_modules/
build/
yarn-error.log

# osx
.DS_Store

# arcanist
.phutil_module_cache

# config
config/local*

# vscode
.vscode

# jetbrains IDEs
.idea

# ethereum network configs
networks/development.json

# contract build files
client/src/contracts
