.banner {
  height: 42px;
  color: #fff;
  position: fixed;
  width: 100%;
  line-height: 42px;
  text-align: center;
  z-index: 99;

  &.success {
    background-color: #52cc65;
  }
  &.warning {
    background-color: #ffb666;
  }

  .anticon {
    margin-right: 10px;
  }

  .banner-content {
    display: flex;
    align-items: baseline;
    justify-content: center;

    .ant-btn {
      border: 0;
      margin-left: 40px;
      font-weight: bold;
      padding: 0 10px;
    }
  }
}
