.deposit-overview {
  padding: 64px 20px 0;
  height: 100%;
  overflow: hidden;

  .title {
    display: flex;
    margin: 10px -20px;
    padding: 20px;
    background-color: #fff;
    font-size: 26px;
    line-height: 32px;
    font-weight: bold;
    color: #000;

    > div {
      flex: 1;
    }

    .ant-btn.ant-dropdown-trigger {
      width: 120px;
    }
  }
  .pools {
    margin: 0 -20px;
    padding: 0 20px 320px;
    max-height: 100vh;
    overflow-y: scroll;
  }
}
