// import component styles
@import '../components/Brand.less';
@import '../components/TabBar.less';
@import '../components/TokenTab.less';
@import '../components/FormInput.less';
@import '../components/TextBox.less';
@import '../components/Modal.less';
@import '../components/Banner.less';
@import '../components/RecordStatus.less';
@import '../components/CollateralRatio.less';
@import '../components/TransactionList.less';

// import container styles
@import '../containers/DepositPoolCard.less';
@import '../containers/RecordCard.less';
@import '../containers/MonitorPoolCard.less';

// import page styles
@import './DepositOverview.less';
@import './BorrowOverview.less';
@import './DepositFormPage.less';
@import './BorrowFormPage.less';
@import './AccountOverview.less';
@import './DetailPage.less';
@import './AddCollateralFormPage.less';
@import './RepayFormPage.less';
@import './TransactionList.less';
@import './MonitorPage.less';
@import './MonitorDetailPage.less';
@import './MintTokenPage.less';

#app {
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.layout {
  height: 100%;
  width: 100%;
}

.full-width {
  margin: 0 -20px;
}

.layout.default {
  .container {
    background-color: #fff;
  }
  .default__title {
    top: 64px;
    font-size: 26px;
    font-weight: bold;
    position: fixed;
    background-color: #fff;
    color: #000;
    padding: 0 20px;
    z-index: 10;

    .custom-icon {
      margin-right: 20px;
      font-size: 14px;
      position: relative;
      top: -3px;
    }
  }
}

.brand {
  height: 64px;
  background-color: #fff;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.layout.overview {
  .tip {
    padding: 10px 20px;
    height: 44px;
    width: 100%;
    background-color: #52cc65;
    color: #fff;
    position: fixed;
    z-index: 100;

    .ant-btn {
      margin-left: 2em;
      width: 65px;
    }

    & + .brand {
      top: 44px;
    }

    & + .brand + .container {
      padding-top: 44px;
    }
  }

  .container {
    height: 100%;
    background-color: #f5f5f5;
  }
}

.custom-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.green {
  color: #52cc65;
}
.yellow {
  color: #ffb666;
}
.grey {
  color: #bfbfbf;
}
.primary {
  color: @primary-color;
}

// TODO: Should be remove after web client complete
@media (min-width: 500px) {
  #app {
    border: 1px solid #eee;
    max-width: 500px;
  }
  .brand,
  .tab-bar,
  .layout.overview .tip {
    max-width: 498px;
  }
}
